- type: job
  id: HeadOfSecurity
  name: job-name-hos
  description: job-description-hos
  playTimeTracker: JobHeadOfSecurity
  requirements:
    - !type:RoleTimeRequirement
      role: JobWarden
      time: 18000 #5 hrs # Vanilla-RoleTime
    - !type:RoleTimeRequirement
      role: JobDetective
      time: 18000 #5 hrs # Vanilla-RoleTime
    - !type:AgeRequirement
      requiredAge: 28
  weight: 10
  startingGear: HoSGear
  icon: "JobIconHeadOfSecurity"
  supervisors: job-supervisors-captain
  canBeAntag: false
  access:
  - HeadOfSecurity
  - Command
  - Brig
  - Security
  - Armory
  - Maintenance
  - Service
  - External
  - Detective
  - Cryogenics
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]
  - !type:AddComponentSpecial
    components:
      - type: TriggerOnMobstateChange
        mobState:
        - Critical
      - type: EmitSoundOnTrigger
        sound:
          collection: SoldierDeath
          params:
            volume: -4
      - type: CommandStaff
      - type: Skill
        RangeWeaponLevel: 3
        MeleeWeaponLevel: 3
        MedicineLevel: 2
        ChemistryLevel: 0
        EngineeringLevel: 1
        BuildingLevel: 0
        ResearchLevel: 0
        Atmosphere: false
        Piloting: true
        MusInstruments: true
        Botany: false
        Bureaucracy: true
      - type: AddSkillPoints
        Points: 1


- type: startingGear
  id: HoSGear
  equipment:
    eyes: ClothingEyesGlassesSecurity
    id: HoSPDA
    gloves: ClothingHandsGlovesCombat
    ears: ClothingHeadsetAltSecurity
    suitstorage: WeaponAssaultDominator
  storage:
    back:
    - Flash

- type: chameleonOutfit
  id: HeadOfSecurityChameleonOutfit
  job: HeadOfSecurity
  hasMindShield: true
  equipment:
    mask: ClothingMaskGasSecurity
    neck: ClothingNeckCloakHos
